

      * {
        padding: 0;
        margin: 0;
        border-sizing: border-boxing;
        user-select: none;
        scroll-behavior: smooth;
      }
      header {
        position: relative;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        position: sticky;
        z-index: 19px;
      }
      .container {
        width: 100%;
        margin: 0;
      }
      .header {
        padding: 20px;
        display: flex;
        justify-content: end;
        align-items: center;
      }

      .navbtns {
        position: relative;
        width: 40%;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      .navbtns_smart {
        display: none;
      }
      .bodycont {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .rest_cont {
        position: relative;
        width: 100%;
        height: 100vh;
        margin-top: 0%;
        z-index: 2px;
        overflow: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
      }
      .homecont {
        position: relative;
        min-height: 87vh;

        overflow: hidden;
      }
      .servicecont {
        position: relative;
        min-height: 93vh;
        width: 90vw;
        bottom: 0;
        display: flex;

        justify-content: center;
      }
      .aboutcont {
        position: relative;
        min-height: 90vh;
        width: 90vw;
        bottom: 0;
        display: flex;

       
      }
      .head {
    position: absolute;
    top: 2.5%;
    font-weight: bold;
    font-size: 1.5rem;
    left: 40%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
      .content {
        position: relative;
        background-color: aqua;
        transition: 0.5s ease;

        height: 90%;
        width: 100%;
        top: 10%;
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        align-items: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue'
      }
      .content li{
        padding: 1.5rem;
      }
      .contenthome {
        position: relative;
        background-color: aqua;
        height: 85vh;
        width: 90vw;
        top: 2%;
        font-size: 1.7rem;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        
      }
      .contentbox {
        position: relative;
        min-width: 30%;
        height: 80%;

        background-color: rgb(237, 235, 240);
        box-shadow: 2px 2px 7px gray, -1px -1px 6px gray;
        z-index: 3;
        float: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
      }

      .home,
      .about,
      .service,
      .contant {
        border-bottom: 2px solid white;
        padding: 18px;
      }
      .commontab {
        border-bottom: 2px solid black;
        transition: 0.5s ease;
      }
      .imgdisp {
        position: absolute;
        right: -14%;
        height: 100%;
        width: 60%;
        bottom: 0%;
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        aspect-ratio: 16/9;
        display: flex;

        justify-content: end;
      }
      img{
        height: 100%;
        width: 100%;
      }
      .contenthome {
        animation: gas 5s linear infinite;
        transition: 2s fade;
      }
      .smll {
        display: none;
      }
      .openbar {
        display: none;
      }
      .readmore {
        position: absolute;
        bottom: 5%;
        width: 60%;
        height: 10%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        font-weight: bold;
        font-size: 1.1rem;
        transition: 0.5s ease;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(216, 16, 16);
      }
      .readmore:hover {
        color: white;
      }
      .contentdisp {
        position: relative;
        height: 55%;
        width: 80%;
        top: 20%;
        opacity: 100%;
        overflow: hidden;

        background-image: url("shoe2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      .contenthov {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        transition: 0.6s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.5rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .contenthov:hover {
        opacity: 100%;
        color: rgb(11, 12, 14);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(231, 222, 222);
      }
      .contentcoverf {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
        z-index: 8;
        transition: 0.2s ease;
        background-color: rgb(156, 160, 153);
        font-size: 1.0rem;
        font-weight: bold;
        display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
        padding: 0.5rem;
      }
      .contentcovers {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
        z-index: 8;
        font-size: 1.0rem;
        font-weight: bold;
    
        transition: 0.2s ease;
        background-color: rgb(156, 160, 153);
        display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
       padding: 0.5rem;
      }
      .contentcovert {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
        z-index: 8;
        font-size: 1.0rem;
        font-weight: bold;
      
        transition: 0.2s ease;
        background-color: rgb(156, 160, 153);
        display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
       padding: 0.5rem;
      }
      .clickedreadmore {
        top: 0;
      }
      .clickedreadmores {
        top: 0;
      }
      .clickedreadmoret {
        top: 0;
      }


      .textdisplay {
      position: absolute;
      width: 50%;
      height: 100%;
      
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
    .contactcont {
   position: relative;
   min-height: 90vh;
   min-width: 90vw;
   bottom: 0;
   display: flex;
   align-items: center;
justify-content: space-around;
   flex-direction: column;
 }
 .contactselect{
  position: absolute;
  height: 20%;
  width: 100%;
  background-color: ;
  border-bottom: 2px solid red;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
 }
 .contactcircles{
  position: relative;
  height: 2rem;
  width: 2rem;
  display: flex;
align-items: center;
justify-content: center;
border-radius: 25%;
 }
  .bottomtextarea{
    position: absolute;
    height: 70%;
    top:35%;
    width: 100%;
    
   
  }
  input{
    position: absolute;
    width: 30%;
    height: 50%;
    background-color:;
    border-radius: 25px;
    resize: none;
    padding: 0 25px 0 25px;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sa
    font-weight: bold;
  }
.feedback{
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: ;
  right: 0;
  top: 0%;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
button{
  position: absolute;
  top: 48%;
  left: 34%;
  padding: 0.7rem;
  border-radius: 5px;
}
footer{
  position: relative;
  height: 10vh;
  width: 100%;
  background-color: aqua;
  bottom: 0;
  margin-top: 1rem;
  display: flex;
 align-items: center;
 justify-content: center;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bold;
}
    .feeds{
  position: relative;
  width: 90%;
  background-color: ;
  min-height: 10%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1.6rem;
  color: black;
  border-bottom: 2px solid gray;

 }
      @media screen and (max-width: 650px) {
        header {
          position: relative;
          border-radius: 15px;
          top: 1%;
          z-index: 17;
        }
        .navbtns {
          width: 0%;
          display: none;
        }

        .smll {
          position: absolute;
          margin-top: 18%;
          border-radius: ;
          transition: 0.3s ease;
          z-index: 6;
height:45%;
          width: 90vw;
          background-color: rgb(129, 120, 120);
        
          top: -100%;
          display:flex;
align-items: center;
          flex-direction: column;
        }
.smll:after{
content:"";
position: absolute;
height:5%;
width:60%;
bottom:0;
border-top:2px solid gray;
background:aqua;
display:flex;
align-items: center;
justify-content: center;
font-weight:bold;
clip-path: polygon(
25% 0%, 
75% 0%, 
100% 100%, 
0% 100%);
}
.smll:before {
content:"";
position: absolute;
height:3%;
width:80%;
top:0;
background:aqua;
display:flex;
align-items: center;
justify-content: center;
font-weight:bold;
clip-path: polygon(
5% 0%,
95% 0%,
100% 100%, 
0% 100%);
transform:rotate(180deg);
}
        .sider{
position: absolute;
height:3%;
width:80%;
top:50%;
right:-41%;
background-color: rgb(129, 120, 120);
        
display:flex;
align-items: center;
justify-content: center;
font-weight:bold;
clip-path: polygon(
5% 0%,
95% 0%,
100% 100%, 
0% 100%);
transform:rotate(90deg);
}
.sidel{
position: absolute;
height:3%;
width:80%;
top:50%;
left:-41%;
background-color: rgb(129, 120, 120);
        
display:flex;
align-items: center;
justify-content: center;
font-weight:bold;
clip-path: polygon(
5% 0%,
95% 0%,
100% 100%, 
0% 100%);
transform:rotate(270deg);
}   
        #cnav {
          position: relative;
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: bold;
          border: none;
          margin-top: 5%;
box-shadow:inset 1px 2px 7px aqua ;
text-shadow:3px 1px 7px aqua;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
background-color:;
  border:2px solid aqua;
    clip-path: polygon(
           100% 0%,    
        100% 50%,    
        95% 98%,
        0% 100%,
        0 0
            
    );}
#cnav:after{
content:"";
position: absolute;
height:2rem;
width:1.7rem;

border:2px solid aqua;
transform:rotate(34deg);
bottom:-27%;
left:97.5%;
}
#cnav:before{
content:"";
position: absolute;
height:0.5rem;
width:2rem;
border-top:2px solid aqua;
top:20%;
left:1%;
opacity:100%;

}
       .scnav{
position: absolute;
height:15%;
width:20%;
border-top:2px solid aqua;
bottom:10%;
right:10%;
display: flex;
          align-items: center;
flex-direction:row;
justify-content: space-around;
} 
.box{
position:relative;
height:70%;
width:15%;
background:aqua;
bottom:-45%;
}
        .openbar {
          position: relative;
          left: -90%;
          padding: 5px;
          display: flex;
          transition: 0.5s ease;
        }
        .clicked {
          position: absolute;

          top: 0;
        }
        .heading {
          position: absolute;
          left: 20%;
          display: none;
        }
        .topnav {
          position: relative;
          width: 100%;
          height: 13%;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 17;
        }
        .content {
          position: relative;
          display: flex;

          flex-direction: column;
        
        }
        .contentbox {
          width: 100%;
          height: 33%;
        }
        .contentdisp {
          height: 70%;
          top: 15%;
        }
        .servicecont {
          position: relative;
          min-height: 200vh;
          background-color: white;
        }
        .servicecont .head {
          position: absolute;
        }
        .contentcolor {
          position: absolute;
          top: 2%;
        }
        .readmore {
          position: absolute;
          bottom: 1%;
          height: 12%;
          background-color: rgb(229, 18, 29);
        }
        .textdisplay {
          position: absolute;
          width: 100%;
          height: 50%;

          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
        }
        .imgdisp {
          position: relative;
          top: 0%;
          height: 100%;
          width: 100%;
          right: 0;
         object-fit: contain;
          display: flex;
          align-items: center;
          justify-content: center;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .contenthome {
          color: black;
        }
        .textdisplay h3{
          font-size: 1.3rem;
          z-index: 3;
        }
        .textdisplay h2{
          font-size: 1.4rem;
          z-index: 3;
        }
        .textdisplay h4{
          font-size: 1.1rem;
          z-index: 3;
        }
        .servicecont{
          background-color: aliceblue;
        }
   .servicecont{
    background-color: white;
   }
   input{
   position:absolute;
   width: 80%;
   height: 20%;
   top: 0%;
   left: 5%;
   border-radius: 0px;
   background-color: ;
   border: 2px solid gray;
   outline: none;
   padding: 0 20px;
 }
 button{
  position:absolute;
  left: 78%;
  top: 22%;
  width: 20%;
  outline: none;
  border-radius: 0%;
 }
 .feedback{
  position: absolute;
  top: 30%;
  width: 80%;
  right: 10%;
  background-color: ;
  height: 60%;
  bottom: 0%;
 }
 .feeds{
  position: relative;
 width: 90%;
 background-color: rgb(215, 201, 201);
 min-height: 4%;
 margin-top: 3%;
 display: flex;
 align-items: center;
 justify-content: start;
 padding: 1.6rem;
 color: black;
 overflow: hidden;
 }
      }
      @media screen and (max-width: 1000px) {
        .navbtns {
          width: 50%;
          transition: 0.5s ease;
        }
        #cnav {
          padding: 10px;
        }
      }
      .heading {
        position: absolute;
        left: 10%;

        font-size: 20px;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
      .topnav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 17;
      }
      .contentcolor {
        position: absolute;
        width: 80%;
        height: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 5%;

        background-color: red;
      }
      .contentcolor:after {
        content: " ";
        position: absolute;
        height: 105%;
        width: 105%;
        transform: translate(0%, 0%);
        border: 2px solid red;
      }
      .contentcolor:after:nth-child(1) {
        content: "";
        position: absolute;
        border: 2px solid green;
      }
      .contenthome h4 {
      }
      .contactcircles i{

        font-size: 1.5rem;
      }

   
                        
        
