 *{
        padding: o;
        margin: 0;
        border-sizing:border-boxing;
        user-select: none;
        
        }
      .homepg{
        position: relative;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: linear-gradient(black,rgb(1, 1, 43));
      }
      .topnavbar{
        position: absolute;
        top:0;
        height: 8%;
        width: 100%;
        background:black;
      }
      .navcontainer{
        position: absolute;
        height: 100%;
        width: 40%;
        background:rgb(19, 19, 66),blue;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-wrap: wrap;
        flex-direction: row;

      }
      .navbtns{
        position: relative;
        min-width: 20%;
        height: 90%;
       color: aqua;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        }
       /* .navbtns:hover{
            border-bottom: 2px solid rgb(0, 136, 255);
            opacity: 90%;
            transform: ease;

        }*/
        .imgdis{
          position: absolute;
          height: 70%;
          width: 40%;
         
          right: 0;
          bottom: 10%;
          background-repeat: no-repeat;
          object-fit: fill;         
           background-position: center;
           background-size:contain;

          background-image: url("https://mimo.app/i/hacker.png");


        }
        .infodis{
          position: absolute;
          height: 60%;
          width: 40%;
          bottom: 10%;
          left:5%;
          color: rgb(98, 123, 123);
          font-family: Arial, Helvetica, sans-serif;
        }
        .useraccount{
          position: absolute;
          min-width: 8%;
          height: 90%;
          top: 10%;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          margin-left: 2%;
          color: aqua;
          background-repeat: no-repeat;
          object-fit: fill;
          background-position: center;
          background-size:contain;
          background-image: url("https://mimo.app/i/hacker.png");

          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10%;
          z-index: 2;
        }
       .useraccount::after{
          content: "stephen";
          color: rgb(208, 211, 211);
          position: absolute;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          left: 110%;
          bottom: 0;
        }
        .useraccount::before{
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
         border: 2px solid skyblue;
         border-radius: 10%;
          z-index: 1;
        }
        h2{
          position: absolute;
          left:20%;
        }
        h3{
          position: absolute;
          left: 20%;
          margin-top: 2%;
        }
        .rightbtn{
        position: absolute;
          min-height: 10%;
          min-width: 20%;
          background-color: rgb(103, 171, 171);
          color: black;
          bottom: 30%;
          border-radius: 2%;
          font-weight: bold;
          font-size: 15;
          display: flex;
          align-items: center;
          justify-content: center;
        }
       
        .rightbtn:hover{
         
          background-color:orange;
          color:black;
        }
        .leftbtn{
         
        position: absolute;
          min-height: 10%;
          min-width: 20%;
        text-decoration: underline;
          color: skyblue;
          bottom: 30%;
          right: 0;
          border-radius: 2%;
          font-weight: bold;
          font-size: 17px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .leftbtn:hover{
          color: orange;
        }
        .contantcont{
          position: absolute;
          width: 40%;
          height: 8%;
         background-color: rgb(235, 159, 18);
          top: 7.4%;
          right: -39%;
         border-radius: 2px 0 2px 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content:space-around;
          transition: 0.2s ease;
         
        }
        .contantpop{
         
          right:0%;

        }
        .contantcont::after{
          content: "";
          position: absolute;
          height: 100%;
          width: 3%;
          background-color:skyblue;
          left: 0;
        }
        .contactselection{
          position: relative;
          width:20%;
          height: 90%;
          border-radius: 5px;
          display: flex;
          align-items: center;
          color: white;
          justify-content: center;
          background: rgb(60, 54, 54);
        }
        .contactselection::after{
          content: "";
          position: absolute;
          height: 80%;
          width: 80%;
          border: 2px solid white;
          display: flex;
          align-items: center;
          border-radius: 5px;

        }
        .contactselection:hover{
         box-shadow: 2px 2px 5px black, -2px -2px 5px black;
         transition: 0.2s ease;

        }
        .contactselection:nth-child(1){
          position: relative;
          left:0%;
          font-size: 18px;
        
          background-color: rgb(31, 160, 96);

        }
        .contactselection:nth-child(2){
      background-color: red;

        }
        .contactselection:nth-child(3){
          background-color: rgb(31, 128, 161);

        }
        .contactselection:nth-child(4){

        background-color: skyblue;
        }
        .homecont{
        transition: 0.1 ease;
        }
        .clicked{
          border-bottom: 2px solid skyblue;
        }
        .footer{
          position: absolute;
          bottom: 0;
         height: 6%;
         width: 100%;
         background-color:black;
         color: aliceblue;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 15px;


        }
        .pagenavigator{
          position: absolute;
          bottom: 7%;
          min-height: 2%;
          min-width: 4%;
         
          display: flex;
          justify-content: space-evenly;
        }
        .rnav{
          position:absolute;
          height: 80%;
          width: 15%;
          right: 0;
          background-color: aqua;
          border-radius: 25px;
          transition: 0.1s ease;
        }
        .cnav{
          position:absolute;
          height: 80%;
          width: 15%;
          
          background-color: aqua;
          border-radius: 25px;
          transition: 0.1s ease;
        }
        .lnav{
          position: absolute;
          height: 80%;
          width: 50%;
          left: 0;
          background-color: aqua;
          border-radius: 25px;
          transition: 0.1s ease;

        }
        .abtinfo{
          position: relative;
          height: 70%;
          width: 30%;
          background-color: rgb(17, 16, 16);
          box-shadow: 4px 4px 7px,-4px -4px -7px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

        }
        .aboutcont{
           
          position: absolute;
         height: 60%;
         width: 50%;
         display: none;
        }
        .advt{
          position: absolute;
          width: 80%;
          height: 10%;
          background-color: rgb(23, 24, 25);
          bottom: -5%;
          left: -10%;
          display: flex;
          align-items: center;
        }
        .navadd{
          border-bottom: 2px solid rgb(29, 163, 170);
        }
        .tt{
          position: absolute;
          top:0%;
          height: 15%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          font-weight: bold;
       
          color: skyblue;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        #contact{
        

        }
        .conttoggle{
          background-color: orange;
          transition: 0.1s ease;
        }
        .servicecont{
        
         position: absolute;
          height: 80%;
          width: 100%;
          display: none;
          align-items: center;
          justify-content: space-around;
          transition: 0.1s ease;
          flex-wrap: wrap;
        

        }
        .imgcontabout{
          position: absolute;
          height: 80%;
          width: 50%;
 
          left: 0%;
          top: 10%;
          background-repeat: no-repeat;
          object-fit: fill;
          background-position: center;
          background-size:contain;
          background-image: url("https://mimo.app/i/hacker.png");

        }
        .imgcontent{
          position: absolute;
          
          width: 40%;
          top: 20%;
          right: 0%;
          color: aqua;
          font-weight: bold;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          display: flex;
        align-items: center;
          flex-direction: column;
          list-style-type: none;
          -webkit-mask-image: linear-gradient(000,rgba(0,0,0,0.2));
          mask-image: linear-gradient(000,rgba(0,0,0,0.2));
        }
        .infocont{
          position: absolute;
          bottom: 7%;
          height: 70%;
          width: 90%;
         background-color: silver;
          color: rgb(34, 52, 61);
          font-weight: bold;
          display: flex;
          overflow: hidden;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 5%;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         transition: 0.1 ease;
        }
        .infocont:hover{
          transition: 0.1 ease;
          font-size:17px ;
        }
 @media screen and (max-width:950px){
          .navcontainer{
            width:110%;
           font-size: 18px;
          }
          .contantcont{
        
            
          
          }
          .contactpop{
            right: 0%;
            transition: 0s;
          }
          .pagenavigator{
            width: 15%;
          }
          .aboutcont{
            width: 100%;
           
          }
          .imgcontabout{
            height: 60%;
            width: 50%;
            left: 5%;
            
          }
          .imgcontent{
       
      
         
          }
          .servicecont{
            position: fixed;
            display: none;
            justify-content: center;
            flex-direction: row;
            overflow: auto;
          

          }
          .abtinfo{
            position: relative;
            min-width: 60%;
            height: 40%;
            margin-top: 10%;

          }
          .imgdis{
            height: 90%;
            width: 50%;
          }
          .leftbtn{
            width: 40%;
          }
          .rightbtn{
            width: 40%;
          }
          .infodis{
         
           flex-direction: column;
          
          }
          h3{
            margin-top: 5%;
          }
          .tt{
            display: flex;
            align-items: center;
            justify-content: center;
          }
           .useraccount::after{
          content: "";
          color: rgb(208, 211, 211);
          position: absolute;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          left: 110%;
          bottom: 0;
        }
        }
        
